.contact {

  height: 60vh;
  margin: auto;
  padding: auto;
  
 

}


.contactForm{
  
  margin: 20px 300px;
  
}

.formBox input{
  width: 55vw;
  margin: 7px;
  padding: 7px 10px;
  border: 1px solid #000000;
  border-radius: 0px;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  height: 30px;

}

#btn {
  background-color: #fac100;
  width: 100px;
  height: 40px;
  border: none;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  padding: 5px 5px;
  color: black;
  transition: 0.5s;
  margin-top: 10px;
  text-decoration: none;
  border: 2px solid #fac100;
}
#btn:hover {
  background: none;
  border: 1px solid #000000;
}
.btnSm{
  margin: 0 7px;
  padding: 2px 14px;
  border: 2px solid #fac100;
  border-radius: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.admin{
  text-align: center;
  font-family: 'roboto', sans-serif;
  margin-top: 50px;
 
}

